Source: libevent
Version: 2.1.11-5
Build-Depends: libressl
Homepage: https://github.com/libevent/libevent
Description: An event notification library
Supports: !uwp
Default-Features: thread

Feature: openssl
Description: Support for openssl
Build-Depends: libressl, libevent[thread]

Feature: thread
Description: Support for thread
